
screenshots/*
shaderpacks/*
TombManyGraves/*
usercache.json
usernamecache.json
valkyrielib/*
XaeroWaypoints/*
saves/*
XaeroWorldMap/*
resourcepacks/*
natives/*
.ReAuth.cfg
ChatTweaks/*
llibrary/*
logs/*
crash-reports/*
encyclopedia-servers/*
hammercore/*
options.txt
*crafttweaker.log*
*minecraftinstance.json*
config/*
!config/cofh/*
!scripts/*