# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        100
        105
        114
        116
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        38
        118
        97
        114
        105
        97
        110
        116
        61
        100
        105
        114
        116
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        69
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        73
        -55
        44
        42
        -79
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        85
        43
        75
        44
        -54
        76
        -52
        43
        -79
        5
        73
        48
        48
        52
        -80
        -4
        31
        5
        35
        24
        -4
        -7
        15
        0
        -58
        -84
        20
        -127
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


